@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap");

body {
    font-family: "Oswald", sans-serif !important;
}

.cart-container {
    margin-bottom: 200px;
    margin-top: 100px;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type="number"] {
    width: 40px;
    text-align: center;
}

.quantity-label {
    padding-top: 10px;
}

.fa-minus,
.fa-plus {
    padding-bottom: 10px;
}

.fa-minus:hover,
.fa-plus:hover,
.fa-xmark.fa-xmark:hover {
    box-shadow: none !important;
    transform: none !important;
}

.fa-xmark {
    font-size: 25px;
}

.footer-font {
    font-size: 20px;
}

.btn-md {
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 15px;
}

[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.4s 0.4s ease;
    text-indent: -100%;
    opacity: 1;
}

.customization {
    min-width: 80px;
    font-size: 14px;
    padding-left: 0 !important;
}

@media (max-width: 768px) {
    .footer-font {
        font-size: 15px;
    }

    .btn-md {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        font-size: 12px;
    }
}
